<mat-card class= "home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindos!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Esta é uma plataforma em que disponibilizamos atividades escolares adaptadas para estudantes com deficiência.<br>
        Você encontrará atividades de todas as matérias escolares e de todos os anos do ensino básico ao médio para apoiar os seus estudantes. <br>
        Além das atividades, compartilhamos artigos, fruto de muita experiência e estudos da autora no tema de educação inclusiva. 
    </mat-card-subtitle>
</mat-card>
