<div class="chips">
  <mat-chip-list class="materiasChips"  cdkDropListOrientation="horizontal">
<mat-chip class="materiaChip"  *ngFor="let categoria of categorias" (click)="selecionarMateria(categoria.nome)" id="materia"> 
{{categoria.nome}}</mat-chip>
</mat-chip-list>
</div>
<div class="quadro">  
  <div *ngFor="let atividade of atividades">
     <div *ngIf="atividade.materia == materiaSelecionada">
      <a mat-list-item routerLink="/contato"> 
  <mat-card class="atividade-card">
        <mat-card-title> {{ atividade.titulo }}</mat-card-title>
        <mat-card-image><img class="imgCard" src="assets\atvExemplo.png" alt="logo">
        </mat-card-image>
        <mat-card-content>{{ atividade.materia }}</mat-card-content>
        <mat-card-content>{{ atividade.serie }}</mat-card-content>
</mat-card>
</a>
</div>
</div>
</div>


