
<mat-card>

    <mat-card-title>Contate-nos!</mat-card-title>

    <form action="https://formsubmit.co/hello.mateusfonteles@gmail.com" method="POST">
        <mat-form-field>
            <input matInput placeholder="Seu nome completo">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Seu email">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Mensagem">
        </mat-form-field>
        
    </form>
    

<button mat-raised-button type="submit" color = "primary">
Enviar
</button>

</mat-card>
