.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
 }
  
 .footer span{
    font-weight: 300;
    font-size: 1.1rem;
 }
 
 .footer .logo {
   max-height: 25px;
   margin-right:10px;
   margin-left: 10px;
}