.sidenav{
    background-color:#3F51B5;
    width: 200px;
 }

 .sidenav a{
    color: #FFF;
   }
   
   .sidenav i{
    padding-right: 10px;
 }
 
 .content {
    padding: 16px;
    background-color: #ffffff;
}

.contribua{
   background-color: #3f51b5;
   position: relative;
   margin-top: 20px;
}
.qrcode {
   width: 100px;
   align-self: center;
}

